<%- include('header') %>
<div class="maindiv">
  <h1>ADVICE #<%= ID %></h1>
  <p>"<%= name %>"</p>
  <div>
    <button onclick="reload()">
      <box-icon
        name="dice-5"
        type="solid"
        animation="tada"
        rotate="90"
      ></box-icon>
    </button>
  </div>
</div>
<%- include('footer') %>
